@media screen and (min-width:600px){
  ul.main-menu__nav.list-unstyled.d-flex.flex-wrap.m-0 {
    place-content: center;
}
.custom-header-for-healththroughherb, .header-left col{
  float: right !important;
}
  .announcement-bar__right.col.d-none.d-sm-flex.justify-content-end.align-items-center {
    margin: 0;
}
}

.displaynone{
  display: none !important;
  
}
/*below is for allignment of icons and contaict details on this page https://healththroughherbs.com.pk/pages/contact*/
.map-info__item.map-info__address div,
.map-info__item.map-info__phone div,
.map-info__item.map-info__email div
{
  align-content: center;
}